<section class="container">
  <h1>PRODUCTS COMPONENT</h1>
  <h3>Rta</h3>
  <button class="btn-promisse" (click)="callPromise()">Call promise</button>
  <p class="p-rta">{{ rta }}</p>
  <div class="products-grid">
    <app-product *ngFor="let product of products" [product]="product">
    </app-product>
  </div>
  <button [disabled]="status === 'loading'" (click)="getAllProducts()">
    <span *ngIf="status === 'init' || status === 'success'">Load more</span>
    <span *ngIf="status === 'loading'">Loading</span>
    <span *ngIf="status === 'error'">Error</span>
  </button>
</section>
