<header class="container">
  <h1>Angular Testing</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque
    perspiciatis, qui repellendus sapiente rem repellat, illo dolores atque et
    necessitatibus tempora? Neque ut consequuntur similique expedita
    necessitatibus quo? Rem, ducimus dolorem. Dolore natus est, blanditiis unde
    iure tempore, a qui eligendi in omnis maiores veritatis doloribus, fuga
    minus fugiat necessitatibus.
  </p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/people">People</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
